html,
body {
    overflow: hidden;
    width: inherit;
    height: inherit;
    margin: 0px;
}

#chart {
    margin: 0px;
    align-content: middle;
}
.ggl-tooltip {
  border: 1px solid #E0E0E0;
  font-family: Arial, Helvetica;
  font-size: 10pt;
  padding: 12px 12px 12px 12px;
}

.ggl-tooltip div {
  padding-top: 6px;
}

.ggl-tooltip span {
  font-weight: bold;
}